<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Segment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>Hello! This is Segment!</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/users/signup">회원 가입</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/users/login">로그인</a>
        </p>

        <p class="lead">채팅방 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/chats/bigchatroomlist" >큰 채팅방 목록보기</a>
        </p>

    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
