<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    let chats = [[ ${chats} ]];
    /*]]*/

    let recentMessageId = -1;

    if (chats.length > 0){
        recentMessageId = chats[chats.length-1]["chatId"];
    }

    refreshChat();
    let timerId = setInterval(refreshChat,1000);

    function stopTimer(){
        clearInterval(timerId);
    }


    function sendMessages() {
        const url = "http://localhost:8080/bigchatroom/sendMessage";
        const url_split = document.URL.split('/');
        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "message" : document.getElementById("message_box").value,
                "chatroomId" : url_split[url_split.length-1],
                "userId" : document.cookie
                    .split('; ')
                    .find(row => row.startsWith('userId'))
                    .split('=')[1]
            }),
        };

        let messageTime = null;

        fetch(url, options)
            .then(response =>response.json())
            .then((data) => {
                recentMessageId = data["messageId"];
                messageTime = data["messageTime"];
                console.log(messageTime);
                console.log(data);
                let message = document.getElementById("message_box").value

                let div = document.getElementById('message_div');
                document.getElementById('message_box').value = "";

                div.innerHTML += "<div style=\"border:1px dotted;\"><p>Me</p>" + "<p>"+message+"</p>"+"<p>"+messageTime+"</p></div>";
            });

    }

    function refreshChat(){
        const url = "http://localhost:8080/bigchatroom/getNewMessage";
        const url_split = document.URL.split('/');
        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "messageId" : recentMessageId,
                "chatroomId" : url_split[url_split.length-1],
                "userId" : document.cookie
                    .split('; ')
                    .find(row => row.startsWith('userId'))
                    .split('=')[1]
            }),
        };

        fetch(url, options)
            .then(response =>response.json())
            .then((data) => {
                let div = document.getElementById('message_div');
                console.log(data);
                for (let d in data){
                    let chat_data = data[d];
                    console.log(chat_data)
                    div.innerHTML += "<div style=\"border:1px solid;\"><p>"+chat_data["username"]+"</p>" + "<p>"+chat_data["message"]+"</p>"+"<p>"+chat_data["chatTime"]+"</p></div>";
                }
                if (data.length > 0 ) {
                    recentMessageId = data[data.length - 1]["chatId"];
                }
            });
    }
</script>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
            <div>
                <tr>
                    <td id = "chatroomname_text" th:text="${bigchatroom.chatroomName}"></td>
                </tr>
            </div>
        
            <div>
                <tbody>
                <th:block th:each="chat : ${chats}">
                    <div style="border:1px solid;">
                        <span th:text="${chat.getUsername()}"></span>
                        <br/><br/>
                        <span th:text="${chat.getMessage()}"></span>
                        <br/><br/>
                        <span th:text="${chat.getChatTime()}"></span>
                        <br/><br/>
                    </div>
                </th:block>
                </tbody>
            </div>
    </div>
    <div id="message_div">

    </div>
    <div>
        <div class="form-group">
            <label>메세지 입력창</label>
            <input id = "message_box" type="text" class="form-control" placeholder="메세지를 입력하세요">
        </div>
        <button type="button" class="btn btn-primary" onclick="sendMessages()">Send</button>
        <button class="btn btn-secondary" onclick="stopTimer()">Stop Refreshing Chat</button>
    </div>
    <button class="btn btn-secondary" th:onclick="|location.href='@{/bigchatroom/{id}/exit (id=${bigchatroom.chatroomId})}'|" >Exit</button>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>